{% extends 'base.html' %}
{% load static %}
{% block title %}Edit profile - {{user.username}}{% endblock title %}

{% block content %}
<main class="contact-us">
  <div class="banner">
    <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
    <h1 class="text-center">
      Edit profile
    </h1>
  </div>


  <section class="container mt-5">
    
    <h2 class="text-center">Edit profile</h2>
    <h4 class="text-center text-white-50">
      Hi fantastic youtuber, {{ user.username }}. Hope you are having a good day
    </h4>
  </section>
 
  <section class="profile-section">
    

    <form method="POST" class="col-md-4 offset-md-4" enctype="multipart/form-data">
      {% csrf_token %}

      {{ form.as_p }}
      
      <!-- <div class="form-group">
        <div class="container mt-4 mb-4">
          <div class="row justify-content-md-center">
              <div class="form-group">
                 <textarea name = "description" id="editor"></textarea>
              </div>
            </div>
          </div>
        </div> -->
      <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Update</button>


    </form>
  </section>
  
</main>
{% endblock content %}